<%- include("includes/head.ejs") %>
<body>
    <h1>This page belongs to @<%= data.name %></h1>
    <button>Folllow</button>
    <button>Message</button>

    <p>Follower: <%= data.followers %> &nbsp; &nbsp; &nbsp; &nbsp; Following: <%= data.following %></p>
    <hr>

    <% for(let post of data.posts){ %>
        <img src="<%= post.image %>" alt="some image">
        <p>Likes: <%= post.likes %> &nbsp; &nbsp; &nbsp; &nbsp; Comments: <%= post.comments %></p>
    <% } %>

    <!-- <h3>Accounts that follows you: </h3>
    <ul>
        < for(let follower of followers) { %>
            <li>< follower %></li>
        < } %>
    </ul> -->
</body>
</html>